<!DOCTYPE html>
 <html>
   <head>
      <meta charset="utf-8">
      <title></title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
   </head>

   <body>
      <nav>
       <div class="nav-wrapper indigo darken-3">
         <a href="file:///C:/Codetrotters/find-food-trucks/index.html" class="brand-logo right">FFTPR</a>
         <ul id="nav-mobile" class="left hide-on-med-and-down">
           <li><a href="file:///C:/Codetrotters/find-food-trucks/index.html">HOME</a></li>
           <li><a href="truckfinder.html">TRUCK FINDER</a></li>
           <li><a href="trucklist.html">TRUCK LIST</a></li>
         </ul>
       </div>
      </nav>
      <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
          <input id="truck_name" type="text" class="validate">
          <label for="truck_name">Truck Name</label>
      </div>
      <script>
      <div class="input-field col s12">



          <a class='dropdown-button btn' href='#' data-activates='dropdown1'>FoodType</a>
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="#!">PIZZA</a></li>
                  <li><a href="#!">BURGER</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">TRIPLETS</a></li>
                </ul>

      </div>
      </script>
      <div class="row">
        <div class="input-field col s6">
          <input id="truck_Lat" type="text" class="validate">
          <label for="truck_Lat">truck latitude</label>
        </div>
        <div class="input-field col s6">
          <input id="truck_Lat" type="text" class="validate">
          <label for="truck_Lat">truck latitude</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="city"  class="validate">
          <label for="city">city</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">email</label>
        </div>
      </div>
    </form>
  </div>


    <!--Import jQuery before materialize.js-->

   </body>
 </html>
